<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- cdn Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- cdn ajax -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- link google font -->
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="app" class="container">
<header>
  <div class="top-header">
    <ul>
      <li>
        <a href="#">Film</a>
      </li>
      <li>
        <a href="#">Serie Tv</a>
      </li>
    </ul>
    <input type="text" v-model="query" @keyup.enter='search'>
  </div>
</header>
  <main>
    <div class="cartolina" v-for="film in films">
      <h1>{{film.title}}</h1>
      <h2>{{film.original_title}}</h2>
      <img :src="film.backdrop_path" alt="">
      <h3>{{film.language}}</h3>
      <i class="far fa-star"></i>
      <h4>{{film.vote_average}}</h4>
      <div class="flags" v-for="(element) in flags" @click='associaBandiera'>
        <img :src="element.flags" alt="">
      </div>

    </div>
  </main>
</div>





<script src="js/script.js" charset="utf-8"></script>
</body>
</html>
